
/* 如果使用者之視窗寬度 >= 1200px，將會再載入這裡的 CSS */
@media screen and (min-width: 1200px) {
	HTML, body { font-size: 16px; } 
	/*.DisplayHeader table  th{
		font-size: 20px;
	}
	.DisplayData table  td {
		font-size: 20px;
	}*/
}
/* 如果使用者之視窗寬度介於 768px ~ 979px，將會再載入這裡的 CSS */
@media screen and (min-width: 768px) and (max-width: 979px) {
	HTML, body { font-size: 10px; }
	/*.DisplayHeader table  th {
		font-size: 10px;
	}
	.DisplayData table  td {
		font-size: 10px;
	}*/
}
/*  如果使用者之視窗寬度 <= 768px，將會再載入這裡的 CSS */
@media screen and (max-width: 767px) {
	HTML, body { font-size: 8px; }
	/*.DisplayHeader table  th {
		font-size: 5px;
	}
	.DisplayData table  td {
		font-size: 5px;*/
	}
}
/* 如果使用者之裝置寬度 <= 480px，將會再載入這裡的 CSS */
/* @media screen and (max-device-width: 480px) {
	HTML, body { font-size: 4px; }
	.DisplayHeader table  th {
		width: 5px;
	}
	.DisplayData table  td {
		font-size: 1px;
	}
} */